{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>Base</title>
    {% endblock title %}
    <link rel="icon" type="image/x-icon" href="{% static "favicons/favicon.png" %}">

</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/music">Music</a></li>
                <li class="nav-item"><a class="nav-link" href="/teach">Teach</a></li>
                <li class="nav-item"><a class="nav-link" href="http://penguinweddingmusicny.com/">Weddings</a></li>
                <li class="nav-item"><a class="nav-link" href="/videos">Videos</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact Me</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            </ul>

        </div>


    </nav>

</header>
{% block content %} {% endblock %}
<!-- Bootstrap JS, Popper.js, and jQuery at the end of the body -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% block extra-js %} {% endblock %}


</body>
</html>